@*<style>
    .heading-error-title {
        font-size: 26px;
        color: rgba(29, 146, 6, 0.90);
        text-shadow: 1px 0px 0px rgb(25, 13, 204);
    }

    .error-text {
        color: rgb(235, 74, 74);
        text-shadow: 2px 2px 2px rgb(25, 13, 204);
    }

    .error-container {  
        background-color: rgba(239, 206, 206, 0.00);
       
    }
</style>

<div class="error-container">
    <div class="text-center">
        <p class="heading-error-title">Грешка 403:</p>
        <h1 class="error-text">Достъпът е отказан!</h1>
        <p class="heading-error-title">Ако грешката продължи да се показва, свържете се с администратор</p>
    </div>
</div>*@