html, body {
    height: 100%;
}

body {
    background-image: url('/images/Background/4.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.drop-down-background {
    background: rgba(238, 240, 243, 0.62);
}
