@model ProSeeker.Web.ViewModels.Quizzes.QuizViewModel

<p>@Model.Questions</p>

<style>
    img {
        min-width: 50px;
        max-width: 300px;
        min-height: 50px;
        max-height: 360px;
    }

    .choices-letter {
        font-size: 20px;
        color: rgb(110, 97, 97);
        text-shadow: 0.5px 1px 1px rgb(4, 44, 17);
        display: inline-block;
        /*width: 550px;*/
        text-align: left;
        border: 1px solid rgb(255, 254, 254);
        border-radius: 25px;
        cursor: pointer;
        padding: 10px;
        padding-right: 0px;
    }

        .choices-letter:hover {
            cursor: pointer;
            background-color: #e3f1f8;
            font-weight: bold;
        }

    .choices:hover {
        cursor: pointer;
    }

    #quiz-question {
        font-size: 25px;
        color: rgb(24, 134, 92);
        text-shadow: 1.1px 1px 1px rgb(8, 12, 71);
    }

    #quiz-container {
        /*  margin: 10px auto;
        background-color: white;*/
        /*width: 65rem;
        height: 45rem;*/
        border-radius: 5px;
        -webkit-box-shadow: -5px 6px 8px 0px rgba(74, 83, 14, 0.92);
        -moz-box-shadow: -5px 6px 8px 0px rgba(74, 83, 14, 0.92);
        box-shadow: -5px 6px 8px 0px rgba(74, 83, 14, 0.92);
        /*position: relative;*/
        opacity: 0.96;
    }

    #quiz-timer {
        position: absolute;
        height: 100px;
        width: 200px;
        bottom: 0px;
        text-align: center;
    }

    #quiz-counter {
        font-size: 3em;
    }



    #quiz-progress {
        width: 500px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 5px;
        text-align: right;
    }

    .prog {
        width: 30px;
        height: 30px;
        border: 1px solid #000;
        display: inline-block;
        border-radius: 50%;
        margin-left: 15px;
        margin-right: 15px;
    }
</style>

<div class="row">
    <div id="quiz-container" class="col-md-12">
        <div class="exit-quiz-wrapper">
            <a class="exit-quiz-btn">X</a>
        </div>
        @*<p class='quiz-intro text-center'>Благодарим, че допринасяте за подобряването на нашата платформа!</p>*@
        @*<p class="start-quiz text-center"> Анкетата ще започне след: <br><br><span id="countdowntimer">5 </span></p>*@

        @*Loading timer*@
        <div class="progress-load-wrapper">
            <div class="progress-load"></div>
        </div>

        <div id="quiz-content" style="display: block" class="row">
            @foreach (var question in Model.Questions)
            {
                <div class="question-@question.Number" style="display: none;">

                    <div id="quiz-question" class="col-md-12">@question.Text</div>
                    <div class="row">
                        <div id="quiz-qImg" class="col-md-3 d-inline ml-3"></div>
                        <div id="quiz-choice-container" class="col-md-8 float-left">
                            @{ var counter = 1;}

                            <div class="answers-container" onclick="hideCurrentQuestion(@question.Number)">

                                @foreach (var answer in question.Answers)
                                {
                                    <strong class="choices-letter col-md-11 float-left d-inline mt-1">@counter) <label class="choices d-inline " id="quiz-answer-A">@answer.Text</label></strong>
                                    counter++;
                                }
                            </div>
                            <a class="fa fa-backward col-md-12 mt-5 quiz-backward-btn" style="font-size:20px;"></a>

                        </div>
                    </div>
                </div>
            }
            <input hidden class="questionsCount" value=@Model.Questions.Count() />
            <div id="quiz-timer">
                <div id="quiz-counter"></div>
            </div>
            <div id="quiz-progress" class="col-md-6"></div>

        </div>
        <div class="endOfQuizAppearance" style="display:none;">
            <h2 class="text-center custom-golden-text">
                Благодарим, че помогнахте да подобрим нашата платформа!
            </h2>
            <p class="inquiry-notes">
                <strong>Успешно попълнихте нашата анкета!</strong> <br />

                Ако сте специалист: <br />
                - профилът Ви ще бъде ВИП за седмица и ще се показва преди всички останали. <br />

                Ако сте потребител:<br />
                - Обявите Ви ще бъдат ВИП и ще се показват преди всички останали.<br />
            </p>
            <form>
                <div class="user-answers"></div>
            <button>Потвърди</button>

            </form>
        </div>

        @*<div class="backward-btn-wrapper col-md-12" style="display: none">
                <a class="fa fa-backward col-md-12 float-right d-inline" id="quiz-backward-btn"></a>
            </div>*@
    </div>
</div>


<script asp-append-version="true">
    (function () {
        let currentQuestionIndex = 0;
        // keep the user answers
        var allUserAnswers = [];
        // Make first quesiton visible
        let firstQuestion = document.querySelector('.question-1');
        firstQuestion.style.display = "block"

    })()
    function hideCurrentQuestion(questionNumber) {

        let currentQuestion = document.querySelector(`.question-${questionNumber}`)
        currentQuestion.style.display = "none";
        loadNextQuestion(questionNumber)
    }

    function loadNextQuestion(questionNumber) {
        let questionsCount = document.querySelector('.questionsCount').value;

        if (questionNumber >= questionsCount) {
            // TODO: Return!
            let endTextContainer = document.querySelector('.endOfQuizAppearance');
            endTextContainer.style.display = "block";
        }

        questionNumber = Number(questionNumber) + 1;
        let nextQuestion = document.querySelector(`.question-${questionNumber}`);
        nextQuestion.style.display = "block";
    }

</script>
