@model ProSeeker.Web.ViewModels.PrivateChat.NewMessagesNotificationViewModel

@if (Model.HaveNewMessages)
{
    <a class="openbtn d-inline" style="font-size: 17px; color: cornflowerblue; font-weight:bold;" onclick="openNav()">☰ Съобщения <p class="d-inline">(@Model.Count)</p></a>
}
else
{
    <a class="openbtn" style="font-weight: bold; font-size: 17px;" onclick="openNav()">☰ Съобщения</a>
}