@model ProSeeker.Web.ViewModels.Categories.AllCategoriesViewModel

@foreach (var baseCategory in Model.BaseCategories)
{
<div style="width:17rem;">
    <div class="dropdown-header"><strong style="font-size:18px; color:cornflowerblue">@baseCategory.CategoryName</strong></div>

    @foreach (var category in baseCategory.JobCategories.OrderBy(x=>x.Name))
    {
        <a asp-route-id="@category.Name" asp-controller="Ads" asp-action="GetByCategory" class="dropdown-item">@category.Name</a>
    }

</div>
}
