img {
    min-width: 50px;
    max-width: 300px;
    min-height: 50px;
    max-height: 360px;
}

.choices-letter {
    font-size: 20px;
    color: rgb(110, 97, 97);
    text-shadow: 0.5px 1px 1px rgb(4, 44, 17);
    display: inline-block;
    text-align: left;
    border: 1px solid rgb(255, 254, 254);
    border-radius: 25px;
    cursor: pointer;
    padding: 10px;
    padding-right: 0px;
}

    .choices-letter:hover {
        cursor: pointer;
        background-color: #e3f1f8;
        font-weight: bold;
    }

.choices:hover {
    cursor: pointer;
}

#survey-question {
    font-size: 25px;
    color: rgb(24, 134, 92);
    text-shadow: 1.1px 1px 1px rgb(8, 12, 71);
}

#survey-container {
    border-radius: 5px;
    -webkit-box-shadow: -5px 6px 8px 0px rgba(74, 83, 14, 0.92);
    -moz-box-shadow: -5px 6px 8px 0px rgba(74, 83, 14, 0.92);
    box-shadow: -5px 6px 8px 0px rgba(74, 83, 14, 0.92);
    opacity: 0.96;
}

#survey-timer {
    position: absolute;
    height: 100px;
    width: 200px;
    bottom: 0px;
    text-align: center;
}

#survey-counter {
    font-size: 3em;
}

#survey-progress {
    width: 500px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    text-align: right;
}

.progress-circles {
    width: 17px;
    height: 17px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left: 11px;
    margin-right: 11px;
}

.survey-backward-btn {
    color: rgb(24, 134, 92);
    text-shadow: 0.5px 0.5px 0.5px rgb(8, 12, 71);
    font-size: 16px;
}

    .survey-backward-btn:hover {
        text-decoration: none;
        cursor: pointer;
        color: rgb(6, 67, 151);
    }

/* the quiz exit button */
.exit-survey-btn {
    color: rgb(8, 12, 71);
    font-weight: bold;
    right: 0;
}

    .exit-survey-btn:hover {
        color: rgb(24, 134, 92);
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
    }
