@using ProSeeker.Common
@using ProSeeker.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ProSeeker.Services.Data.UsersService.IUsersService usersService;

<ul class="navbar-nav d-inline-flex">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Профил">
                <img style="width: 35px; height:35px; border-radius: 50%;" title="Профил" asp-append-version="true" src="@await this.usersService.GetUserProfilePictureAsync(this.UserManager.GetUserId(this.User))" alt="@this.UserManager.GetUserName(this.User) Avatar" />
                Здравейте, @await this.usersService.GetUserFirstNameByIdAsync(this.UserManager.GetUserId(this.User))!
            </a>
        </li>

        <li class="btn-group">
            <i id="fas-pic" class="fas fa-chevron-circle-down" style="padding-right: 10px; font-size:17px; margin:auto 0; color: cornflowerblue;" data-toggle="dropdown">
            </i>
            <div class="dropdown-menu custom-dropdown-content" style="margin-top:-8px;">
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Акаунт</a>
                <a class="dropdown-item" asp-area="" asp-controller="Ads" asp-action="MyAds">Моите обяви</a>
                <a class="dropdown-item" asp-area="" asp-controller="Ads" asp-action="Create">Запитвания</a>
                @if (this.User.IsInRole(GlobalConstants.RegularUserRoleName))
                {
                    <a class="dropdown-item" asp-area="" asp-controller="Offers" asp-action="UserOffers">Оферти</a>
                }
                else
                {
                    <a class="dropdown-item" asp-area="" asp-controller="Offers" asp-action="SpecialistOffers">Оферти</a>
                }
                <a onclick="SubmitForm()" class="dropdown-item">
                    <form id="submitForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">Изход </form>
                </a>
            </div>
        </li>

        
        <li class="nav-item dropdown collapse navbar-collapse">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Известия</a>
            <div class="dropdown-menu">
                <a href="#" class="dropdown-item">Inbox</a>
                <a href="#" class="dropdown-item">Sent</a>
                <a href="#" class="dropdown-item">Drafts</a>
            </div>
        </li>
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Админ</a>
            </li>
        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/RegisterOptions">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Влез</a>
        </li>
    }
</ul>

<script asp-append-version="true">
    function SubmitForm() {
        //return confirm('Наистина ли искате да изтриете обявата?')
        if (confirm('Наистина ли излезе от акаунта си?') === true) {
            $('#submitForm').submit();
        }
    }

</script>