@using ProSeeker.Common
@using ProSeeker.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ProSeeker.Services.Data.UsersService.IUsersService usersService;

<ul class="navbar-nav d-inline-flex">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Профил">
                <img style="width: 35px; height:35px; border-radius: 50%;" title="Профил" asp-append-version="true" src="@await this.usersService.GetUserProfilePictureAsync(this.UserManager.GetUserId(this.User))" alt="@this.UserManager.GetUserName(this.User) Avatar" />
                Здравейте, @await this.usersService.GetUserFirstNameByIdAsync(this.UserManager.GetUserId(this.User))!
            </a>
        </li>

        <vc:profile-dropdown></vc:profile-dropdown>

        <li class="nav-item dropdown collapse navbar-collapse">
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><p class="closeNavbar"></p></a>
                @if (this.User != null)
                {
                    @await Component.InvokeAsync("UserMessages")
                }
            </div>

            <div id="main">
                @if (this.User != null)
                {
                    @await Component.InvokeAsync("NewMessagesNotification")
                }
            </div>
        </li>
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="btn-group">

                <i id="fas-pic" class="fas fa-chevron-circle-down" style="padding-right: 10px; font-size:17px; margin:auto 0;" data-toggle="dropdown">
                   Админ панел
                </i>
                <div class="dropdown-menu custom-dropdown-content" style="margin-top:-8px;">

                    <a class="nav-link text-dark dropdown-item" asp-area="Administration" asp-controller="BaseJobCategories" asp-action="Index" title="Admin">Базови категории</a>
                    <a class="nav-link text-dark dropdown-item" asp-area="Administration" asp-controller="JobCategories" asp-action="Index" title="Admin">Под-категории</a>
                    <a class="nav-link text-dark dropdown-item" asp-area="Administration" asp-controller="Surveys" asp-action="SurveyIndex" title="Admin">Анкети</a>
                </div>
            </li>




            @*<li class="nav-item">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="Surveys" asp-action="Index" title="Admin">Survey</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="BaseJobCategories" asp-action="Index" title="Admin">BaseJobCategories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="Surveys" asp-action="Index" title="Admin">Surveys</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="JobCategories" asp-action="Index" title="Admin">JobCategories</a>
            </li>*@
        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/RegisterOptions">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Влез</a>
        </li>
    }
</ul>

