@page
@{
    ViewData["Title"] = "Register";
}

<section class="nav-item">
    <a class="nav-link text-dark" asp-route-id="1" asp-area="Identity" asp-page="/Account/Register">SPECIALIST REGISTRATION</a>
</section>
<section class="nav-item">
    <form></form>
    <a class="nav-link text-dark" asp-route-id="0" asp-area="Identity" asp-page="/Account/Register">USER REGISTRATION</a>
</section>


