@page
@{
    ViewData["Title"] = "Register";
}



<section class="nav-item">
    <a class="nav-link text-dark" asp-route-id="1" asp-area="Identity" asp-page="/Account/Register">SPECIALIST REGISTRATION</a>
</section>
<section class="nav-item">
    <form></form>
    <a class="nav-link text-dark" asp-route-id="0" asp-area="Identity" asp-page="/Account/Register">USER REGISTRATION</a>
</section>



<style>
    section {
        display: none;
    }

        section:target {
            display: block;
        }
</style>

<nav>
    <ul>
        <li><a href="#a">A</a></li>
        <li><a href="#b">B</a></li>
        <li><a href="#c">C</a></li>
    </ul>
</nav>
<section id="a">
    <h1>
        Section A
    </h1>
</section>
<section id="b">
    <h1>
        Section B
    </h1>
</section>
<section id="c">
    <h1>
        Section C
    </h1>
</section>

