@page
@{
    ViewData["Title"] = "Register";
}

<section class="nav-item">
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/RegisterSpecialist">SPECIALIST REGISTRATION</a>
</section>
<section class="nav-item">
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/RegisterUser">USER REGISTRATION</a>
</section>

