@model ProSeeker.Web.ViewModels.Categories.SpecialistsInCategorySimpleViewModel

    <div class="text-center">
        <h2 class="custom-golden-text">Не е възможно да изтриете тази категория!</h2>

        <h2 class="custom-input-text">Към нея има свързани <strong>@Model.Count</strong> специалисти</h2>
    </div>
    <form>
        <div class="text-center">
            <button class="custom-submit-button col-md-4 mt-4" style="height:40px;" asp-action="Index">Обратно към категориите</button>
        </div>
    </form>

